@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* CONTAINER */
.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 100%;
  /* background: #FF8A9F; */
}

/* RADIO CARD */
.radio__card {
  position: relative;
  /* background-color: #ffffff; */
  width: 100%;
  margin-top: -3rem;
  height: max-content;
  border-radius: 20px;
  /* padding: 30px; */
  color: #554548;
}

/* .radio__card-options {
  margin-top: 20px;
} */

.radio__card-options-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.radio__card-options-item-header {
  margin-left: 25px;
}

/* CREDITS */
.credits {
  color: #EBE9E9;
  position: absolute;
  right: 25px;
  bottom: 23px;
}

/* RADIO CIRCLES */
.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFE8EC;
}

.circle__active {
  background-color: #FF8A9F;
  z-index: 1;
}

.circle__inactive {
  cursor: pointer;
}

/* -------- SOCIAL ICONS -------- */

.social-icons {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

/* BASE SOCIAL ICON */
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}

.social-icon i {
  position: relative;
  top: 1px;
}

/* HOVER */
.social-icon:hover {
  color: #fff;
}

.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}

/* ACTIVE */
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

/* TWITTER */
.social-icon--twitter {
  background: #2b97f1;
  color: #ffffff;
}

.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: #ffffff;
}

.social-icon--twitter .tooltip::after {
  border-top-color: #2b97f1;
}

/* CODEPEN */
.social-icon--codepen {
  background: #000000;
  color: #ffffff;
}

.social-icon--codepen .tooltip {
  background: #000000;
  color: #ffffff;
}

.social-icon--codepen .tooltip::after {
  border-top-color: #000000;
}

/* TOOLTIP */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.4rem 0.6rem;
  border-radius: 40px;
  font-size: 0.4rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}

.tooltip::after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}
